@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;700&display=swap');

* {
  font-family: 'Libre Franklin', sans-serif;
}

h1 {
    color: white;
    background-color: black;
}

.checklist-task {
  display: flex;
  justify-content: left;
  margin-bottom: 10px;
}

input {
  outline: none;
  border: none;
}

#checkbox {
  display: block;
  position: sticky;
  margin: 40%;
  top: 0;
}

#drag-handle {
  /* visibility: hidden; */
  display: block;
  position: relative;
  margin-top: 3.5px;
}

.taskSelector {
  position: absolute;
  height:25px;
  width: 25px;
  background-color: violet;
  z-index: 1;
}

button {
  width: 25px;
  height: 25px;
}

button::selection {
  background: transparent;
}

textarea {
  field-sizing: content;
  resize: none;
  word-break: break-word;
  border: 0px;
  margin-left: 10px;
}

textarea::selection {
  background: transparent;
}

textarea:focus::selection {
  background: #a5d8ff; /* your desired highlight color */
}

textarea[id="title"] {
  margin-top: 20px;
  font-size: 75px;
  font-weight: bold;
}

.page {
  margin: auto;
  width: 40%;
  height: 200vh;
}

.subtask-list {
  margin-top: 10px;
  margin-left: 25px;
}

.checked-task {
  text-decoration: line-through;
  color: grey;
}

.highlighted-input {
  background-color: #e7f3ff;
  padding: 4px;
  transition: background-color 0.2s;
}

#highlighted-task {
  background-color: #e7f3ff;
}
/* 
.sidebar {
  width: 200px;
  background: grey;
  position: absolute;
  height: 90vh;
  left: -100%;
  padding: 0 30px;
  add transitions maybe?
}

.sidebar.active {
  left: 0;
} 
*/
